<div class="content">
  <div class="header">
    <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
      <a class="pure-menu-heading" href="#">plungr</a>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#plops">Plops</a></li>
        <li><a href="#why">Why?</a></li>
      </ul>
    </div>
  </div>
  <div class="splash">
    <div class="pure-g-r">
      <div class="pure-u-1-3">
        <div class="l-box splash-image">
          <%= image_tag "plungr.png" %>
        </div>
      </div>
      <div class="pure-u-2-3">
        <div class="l-box splash-text">
          <h1 class="splash-head">
            plungr is bathroom graffiti on the web
          </h1>
          <h2 class="splash-subhead">
            Become the sultan of the salle de bain
          </h2>
          <h3 class="splash-subhead">
            Plungr is the premier social sharing app for restroom graffiti. Become the sultan of the salle de bain. Share your lavatory one-liners, privy philosophy, water closet wisdom, and can cuss words with other visitors to your illustrious place of rest.
          </h3>
          <p>
          <%= link_to "Create a Stall", new_stall_path, :class => "pure-button primary-button" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="pure-g-r" id="plops">
      <div class="pure-u-1-2 content-ribbon">
        <div class="l-box">
          <h4 class="content-subhead">Trending Plops</h4>
          <% Plop.trending(5).each do |plop| %>
            <blockquote class="pull-right">
              <p><%= plop.message %></p>
              <small>- <%= plop.author_name || "Anonymous" %></small>
            </blockquote>
          <% end %>
        </div>
      </div>
      <div class="pure-u-1-2 content-ribbon">
        <div class="l-box">
          <h4 class="content-subhead">Latest Plops</h4>
          <% Plop.latest(5).each do |plop| %>
            <blockquote class="pull-right">
              <p><%= plop.message %></p>
              <small>- <%= plop.author_name || "Anonymous" %></small>
            </blockquote>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <div class="pure-g-r" id="why">
      <div class="pure-u-1-4">
        <div class="l-box">
          <h3>Archivable</h3>
          <p>Graffiti is ephemeral. You never know when your wisdom will be whitewashed, defaced or replaced. With Plungr, we store your Greatest Graffiti of All Time for all time.</p>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="l-box">
          <h3>Big Data and Analytics</h3>
          <p>We can track trending graffiti, cross reference by geolocation, see which stalls are the most engaging or 'sticky'. Think of the ways this data could be used. We can identify key influencers and see which stalls get the most traffic to emprove your bathroom stall engagement.</p>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="l-box">
          <h3>Get Social!</h3>
          <p>We make graffiti more fun, and expand the network of users that want to throw down a graffito. This could lead to a complete change in the way people view your establishment, turning just another urinal into a veritable colony of sharing.</p>
        </div>
      </div>
      <div class="pure-u-1-4">
        <div class="l-box">
          <h3>Brighter, Better Washrooms for Everyone</h3>
          <p><a href="http://en.wikipedia.org/wiki/Broken_windows_theory">Broken Windows Theory</a> tells us that the less graffiti in your stall, the less likely a door is to be kicked in, or a wall to be damaged. Keep your bathrooms ordered and clean, and get expression where you want.</p>
        </div>
      </div>
    </div>
    <div class="l-box ribbon">
      <h2>Leave your mark.</h2>
      <p><%= link_to "Create a Stall", new_stall_path, :class => "pure-button primary-button" %></p>
    </div>
  </div>
  <div class="footer">
      <p><strong>plungr</strong> was made with &#9829; by <a href="https://twitter.com/angusiguess">Angus Fletcher</a>, <a href="https://twitter.com/d_brenden">Brenden Doyle</a>, <a href="https://github.com/dackerson">David Ackerson</a> &amp; <a href="https://twitter.com/ianbishop">Ian Bishop</a></p>
    <p>
    <a href="https://twitter.com/planethatch"><img src="https://si0.twimg.com/profile_images/378800000470107237/fd788994cf2dbe1a69a954dac0220020.png" width="45" height="45"></a></p>
  </div>
</div>
