<div class="stall-content">
  <div class="stall-content-header pure-g-r">
    <div class="pure-u-1-2">
      <h1 class="stall-content-name">
        <%= @stall.name %>
      </h1>
    </div>
  </div>
  <div class="stall-content-body">
    <ul class="plop striped">
      <% @stall.plops.each do |p| %>
        <li>
        <p><%= p.message %></p>
        <span class="plop-author">- <%= p.author || "Anonymous" %></span>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="plop-new">
    <% if @canwrite %>
      <%= form_tag do %>
        <%= hidden_field :stall, :write_hash %>
        <%= text_area_tag(:message, "", size: "24x1") %>
        <%= submit_tag("Plop") %>
      <% end %>
    <% end %>
  </div>
</div>
