<div class="stall-content">
  <div class="stall-content-header pure-g-r">
    <div class="pure-u-1-2">
      <h1 class="stall-content-name">
        <%= @stall.name %>
      </h1>
    </div>
  </div>
  <div class="stall-content-body">
    <ul class="plop striped">
      <% @stall.plops.latest(10).each do |p| %>
        <li>
        <blockquote class="pull-right">
          <p><%= p.message %></p>
          <small>- <%= p.author_name || "Anonymous" %></small>
        </blockquote>
        </li>
      <% end %>
    </ul>
  </div>
  <% if @canwrite %>
    <div class="pure-g-r plop-new">
      <div class="pure-u-1">
        <%= form_tag({}, :class => "pure-form pure-form-aligned") do %>
          <fieldset>
            <legend>Post a Message</legend>

            <%= hidden_field :stall, :write_hash %>

            <div class="pure-control-group">
              <label for="author">Author:</label>
              <%= text_field_tag(:author_name, "Anonymous", class: "pure-input-1-2") %>
            </div>

            <div class="pure-control-group">
              <label for="message">Message:</label>
              <%= text_area_tag(:message, "", size: '24x10', class: "pure-input-2-3") %>
            </div>

            <div class="pure-controls">
              <input name="commit" type="submit" value="Leave Your Mark" class="pure-button pure-button-primary">
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
