<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stall.name %>
</p>

<p>
  <strong>Uuid:</strong>
  <%= @stall.uuid %>
</p>

<p>
  <strong>Write hash:</strong>
  <%= @stall.write_hash %>
</p>

<p>
  <strong>Qr code:</strong>
  <%= @stall.qr_code %>
</p>

<%= link_to 'Edit', edit_stall_path(@stall) %> |
<%= link_to 'Back', stalls_path %>
